@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;600&family=Roboto:wght@300;400;700&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}
html,
body,
.main {
  color: #1e1e1e;
  background-color: #f8f8f8;
  height: table;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
span {
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 7px !important;
}
::-webkit-scrollbar-track {
  background: #232323 !important;
}
::-webkit-scrollbar-thumb {
  background: #232323 !important;
}
::-webkit-scrollbar-thumb:hover {
  background: #28f5be !important;
}
/* CLASSES GERAIS */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title h1 {
  font-size: 53px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.form {
  width: 100%;
  height: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.form-group {
  width: 45%;
  height: 40px;
  position: relative;
  margin-bottom: 35px;
}
.form-group .display-none {
  display: none;
}
.form-group .error {
  display: block !important;
  color: #cd4819;
  font-family: "Roboto Mono";
  font-size: 12px;
  font-weight: 600;
}
input[type="number"],
input[type="text"] {
  border-style: solid;
  border-color: rgb(238, 236, 236);
  border-width: 2px;
  border-radius: 3px;
  outline: 0;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  background-color: #fff;
}
input[type="number"]:focus,
input[type="text"]:focus {
  outline: none;
}
.form-control {
  font-size: 16px;
  line-height: 16px;
  transition: all 0.1s ease-out;
}
label {
  position: absolute;
  font-size: 14px;
  left: 15px;
  top: 11px;
  transition: all 0.2s ease;
}
.form-control,
label {
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  color: #777;
}
input[type="number"]:focus ~ label,
input[type="number"]:valid ~ label,
input[type="text"]:focus ~ label,
input[type="text"]:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: #1e1e1e;
}
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar::before,
.bar::after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #1e1e1e;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar::before {
  left: 50%;
}
.bar::after {
  right: 50%;
}
input[type="number"]:focus ~ .bar::before,
input[type="number"]:focus ~ .bar::after,
input[type="text"]:focus ~ .bar::before,
input[type="text"]:focus ~ .bar::after {
  width: 50%;
}
.btn:link,
.btn:visited {
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-dark {
  background-color: #1e1e1e;
  color: #fff;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-dark::after {
  background-color: #1e1e1e;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-animated {
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrap-imc {
  margin-top: 10px;
  padding: 10px 80px;
  height: 40px;
  border-radius: 3px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.15);
}
.wrap-imc p {
  font-family: "Roboto Mono";
  font-size: 14px;
  font-weight: 600;
}
.muito-baixo {
  background-color: #1b1464;
  color: #fff;
}
.medio-baixo {
  background-color: #1e55a8;
  color: #fff;
}
.baixo {
  background-color: #3faff0;
}
.normal {
  background-color: #35a64f;
}
.sobrepeso {
  background-color: #fbdf3c;
}
.obesidade-um {
  background-color: #f79d2d;
}
.obesidade-dois {
  background-color: #cd4819;
  color: #fff;
}
.morbida {
  background-color: #9f020d;
  color: #fff;
}
.fade-in {
  animation: fadeIn 0.2s ease-out 0.1s 1 normal forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
